
:root {
  --russian-violet: #442a5cff;
  --satin-sheen-gold: #bea32bff;
  --lavender-web: #e3dfffff;
  --dark-cyan: #558c8cff;
  --falu-red: #782121ff;
    background-color: var(--dark-cyan);
    --spriteimg: url('tarotsprite_lr.jpg');
    --cardboarder: 1.5vmin;
    --twidth: calc(2.24 * 10vmin);
    --theight: calc(3.74 * 10vmin);
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  html,
  body {
    gap: 4vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    user-select: none;
  }
  #container {
    position: flex;
    margin: max(8vw, 8vh);
    margin-left: max(12vw, 12vh);;
    width: max(20vw, 20vh);
    height: min(30vw, 30vh);
  }

  #topbar {    
    z-index: 999999;
    justify-content: space-around;
    user-select: none;
    display: flex;
    height: 6vmax;
    width: 100%;
    background-color:var(--russian-violet);
    padding: 1vmax;
  }

  #toplogo {
    align-self: center;
    height: 4vmax;
  }

  #toplogo > img {
    background-color: var(--lavender-web);
    border-radius: 50%;
    height: 4vmax;
    box-shadow: 0.2vmax 0.2vmax 0.6vmax rgba(0, 0, 0, 0.719);
  }

  #topbar button {
    line-height: 4vmax;
    text-align:center;
    text-wrap: nowrap;
    border-radius: 1.5vmax;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    z-index: 999999;
    display: flex;
    height: 4vmax;
    font-size: 2vmax;
    padding-inline: 0.5vmax;
    width: fit-content;
    background: none;
    border: 0.2vmax solid var(--satin-sheen-gold);
    outline: none;
    color: var(--satin-sheen-gold);
    cursor: pointer;
  }
  #topbar button:hover {
    background-color: var(--satin-sheen-gold);
    color: var(--russian-violet);
  }
  .card {    
    position: absolute;
    display: inline-block;
    width: var(--twidth);
    height: var(--theight);
    will-change: transform;
  }
  .card:after {
    bottom: 0.1vmin;
    right: 0;
    transform: rotate(180deg);
  }

  .face, .back {
    clip-path: inset(4% 4% 4% 4% round var(--cardboarder));
    scale: 1.08;
    width: var(--twidth);
    height: var(--theight);
    background-image: var(--spriteimg);
    background-size: 1400% 700%;    
  }

  .face {
    background-position: calc(100% * var(--col)) calc(100% * var(--row));
  }
  .back {
    background-position: calc(100% * -11) calc(100% * -6);
  }

  @property --angle {
    syntax:  "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .hovereffect:has(>.face)::before, .card:has(>.face):hover::before {
    scale: 0.93;
    filter: blur(1vmin);
    border-radius: var(--cardboarder);
    background-color: var(--lavender-web);
    padding: 1.5vmin 1vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    content: "";
    width: var(--twidth);
    height: var(--theight);
    z-index: -1;
  }

.hovereffect:has(>.back)::before, .card:has(>.back):hover::before {
  /*inset: -20px -20px -20px -10px;*/
  scale: 0.91;
  filter: blur(1vmin);
  border-radius: var(--cardboarder);
  background-image: conic-gradient(
    from var(--angle),
    var(--satin-sheen-gold), 
    var(--lavender-web),
    var(--satin-sheen-gold),
    var(--lavender-web),
    var(--satin-sheen-gold),
    var(--lavender-web),
    var(--satin-sheen-gold),
    var(--lavender-web),
    var(--satin-sheen-gold),
    var(--lavender-web),
    var(--satin-sheen-gold),
    var(--lavender-web),
    var(--satin-sheen-gold)
  );
  padding: 1.5vmin 1vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  content: "";
  width: var(--twidth);
  height: var(--theight);
  z-index: -1;
  animation: 7s glow linear alternate-reverse infinite;
}

@keyframes glow {
  from {
    --angle: 0deg;
    padding: 1.5vmin 1vmin;
  }
  to {
    --angle: 360deg;
    padding: 2vmin 1.5vmin;
  }
  
}


  #matcontainer {
    width: 50vmin;
    height: auto;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5vmin;
  }

  .mat {
    border-radius: var(--cardboarder);
    box-shadow: inset 0.5vmin 1vmin 3.5vmin 1vmin rgba(0,0,0,0.49);
    /*opacity: 0.5;*/
    width: var(--twidth);
    height: var(--theight);
    background-repeat: no-repeat;
    background: url("mat.svg");
    background-size: contain;
    pointer-events: none;
    user-select: none;
}

.mat::after {
  content: "";
  z-index: -1;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: var(--satin-sheen-gold);
  background-size: var(--cardboarder);
  background-repeat: no-repeat;
  width: var(--twidth);
  height: var(--theight);
}

#matrow1 {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1.5vmin;
  flex-direction: row;
}
#matrow2 {
display: flex;
align-items: center;
justify-content: center;
gap: 1.5vmin;
flex-direction: row;
}

#amethyst {
  top: 15vmin;
  left: 45vmin;
  position: absolute;
  width: 10vmin;
  height: 20vmin;
  background-image: url("amethyst.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
