:root{
    background-color: #9282da;
    --spriteimg: url('tarotsprite8d.gif');
    --cardboarder: 26px;
    --spritew: 224px;
    --spriteh: 374px;
    --twidth: 224px;
    --theight: 374px;

    --mattop: 400px;
    --matleft: 250px;
    --mattpadding: 24px;
}
html, body {margin: 0; height: 100%; overflow: hidden}

.tarotcard[data-faceup="false"]:hover {
    animation-name: cardRaiseGlow;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

.tarotcard[data-faceup="true"]:hover {
    animation-name: cardRaiseHighlight;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

.flip-card-inner {
    position: absolute;
    width: var(--twidth);
    height: var(--theight);
}

@keyframes cardRaiseHighlight {
    to {
        box-shadow: #ffffffdc 1.4px 1.4px 6px 1px;
    }
}

@keyframes cardRaiseGlow {
    to {
        box-shadow: #dfb459c9 2.4px 2.4px 6px 5px;
    }
}

.flip-card-inner:hover {
    animation-name: cardRaiseShadow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

.tarotcard {
    scale: 1.0;
    /*clip-path: xywh(0px 0px 224px 374px round var(--cardboarder));*/
    width: var(--twidth);
    height: var(--theight);
    position: absolute;
    border-radius: var(--cardboarder);
    overflow: hidden;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    scale: 1.08;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.tarotcard[data-faceup="false"] .flip-card-inner {
    transform: rotateY(180deg);
}

.tarotcard[data-faceup="true"] .flip-card-inner {
    transform: rotateY(0);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background: var(--spriteimg) calc(var(--spritew)*var(--col)) calc(var(--spriteh)*var(--row));
}

/* Style the back side */
.flip-card-back {
    background: var(--spriteimg) -2464px -2244px;
    transform: rotateY(180deg);
}

.mat {
    position: absolute;
}

#mat1 {
    left: var(--matleft);
    top: var(--mattop);
}
#mat2 {
    left: calc(var(--twidth) + var(--matleft) + var(--mattpadding));
    top: var(--mattop);
}
#mat3 {
    left: calc(var(--twidth) * 2 + var(--matleft) + var(--mattpadding) * 2);
    top: var(--mattop);
}
#mat4 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat5 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth) +var(--mattpadding));
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat6 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth)*2 +var(--mattpadding)*2);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat7 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth)*3 +var(--mattpadding)*3);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}