:root {
    background-color: #9282da;
    --spriteimg: url('tarotsprite8d.gif');
    --cardboarder: 26px;
    --spritew: 224px;
    --spriteh: 374px;
    --twidth: 224px;
    --theight: 374px;

    --mattop: 40%;
    --matleft: 23%;
    --mattpadding: 24px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  #container {
    z-index: 8000;
    position: fixed;
    top: 10%;
    left: 10%;
  }
  #topbar {
    z-index: 12000;
    display: flex;
    position: fixed;
    height: 5%;
    width: 100%;
    justify-content: left;
    background-color: #442a5c;
    padding: 0.4rem;
  }

  #toplogo {
    background-color: antiquewhite;
    border-radius: 50%;
    margin-inline: 4%;
    height: auto;   
  }

  #topbar button {
    z-index: 8000;
    height: auto;
    background: none;
    border: 1px solid #bea32b;
    outline: none;
    padding-inline: 1%;
    margin-inline: 3%;
    font-size: 150%;
    color: #bea32b;
    cursor: pointer;
  }
  #topbar button:hover {
    background-color: #bea32b;
    color: #1e0931;
  }
  .message {
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.5rem;
    text-align: center;
  }
  .card {
    position: absolute;
    display: inline-block;
    width: var(--twidth);
    height: var(--theight);
    background-color: #000000;
    -webkit-border-radius: var(--cardboarder);
    border-radius: var(--cardboarder);
    overflow: hidden;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
    cursor: default;
    will-change: transform;
  }
  .card:before,
  .card:after {
    position: absolute;
    font-size: 0.7rem;
    text-align: center;
    line-height: 0.7rem;
    white-space: pre-line;
    width: 0.55rem;
    letter-spacing: -0.1rem;
  }
  .card:before {
    top: 0.15rem;
    left: 0;
  }
  .card:after {
    bottom: 0.1rem;
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .card .face {
    scale: 1.08;
    width: var(--spritew);
    height: var(--spriteh);
    background: var(--spriteimg) calc(var(--spritew)*var(--col)) calc(var(--spriteh)*var(--row));
  }
  .card .back {
    width: var(--spritew);
    height: var(--spriteh);
    background: var(--spriteimg) -2464px -2244px;
  }
  /* .card.spades.rank1 .face {
    background-image: url("faces/0_1.svg");
  } */

  @media (max-width: 540px) {
    #topbar {
      text-align: left;
    }
    .gh-ribbon {
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -o-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
      -o-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
  }
  @media (min-width: 640px) {
    html {
      font-size: 125%;
    }
  }

  .mat {

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

#mat1 {
    left: var(--matleft);
    top: var(--mattop);
}
#mat2 {
    left: calc(var(--twidth) + var(--matleft) + var(--mattpadding));
    top: var(--mattop);
}
#mat3 {
    left: calc(var(--twidth) * 2 + var(--matleft) + var(--mattpadding) * 2);
    top: var(--mattop);
}
#mat4 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat5 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth) + var(--mattpadding));
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat6 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth) * 2 + var(--mattpadding) * 2);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}
#mat7 {
    left: calc(var(--matleft) - (var(--mattpadding) + var(--twidth)) / 2 + var(--twidth) * 3 + var(--mattpadding) * 3);
    top: calc(var(--theight) + var(--mattop) + var(--mattpadding));
}

@keyframes cardRaiseHighlight {
    to {
        box-shadow: #ffffffdc 1.4px 1.4px 6px 1px;
    }
}

@keyframes cardRaiseGlow {
    to {
        box-shadow: #dfb459c9 2.4px 2.4px 6px 5px;
    }
}